# GitHub
.secrets

# AI configurations
.claude
.gemini
.aider*
.roo
.sisyphus
.opencode

# Agents MD
AGENTS.md

# Commands and env files
commands/TestResults
commands/.env
!commands/.env.example

# Documentation
.CONVENTIONS.md

# Wiki project
Unity-MCP.wiki
